<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;1,900&display=swap"
        rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="images/main/favicon-32x32.png">
    <title>Brandon Bisceglia</title>
</head>

<body>
    <!-- Header -->
    <header class="lg:mx-auto">
        <picture>
            <!-- For mobile and tablet, the mobile_pic will be used -->
            <source media="(max-width: 950px)" srcset="images/main/main_pic_mobile.jpg">
            <!-- For screen sizes larger than 950px, the larger image will be used -->
            <img src=" images/main/Main_pic.jpg" alt="" class="relative h-screen w-full 3xl:max-w-7xl 3xl:mx-auto">
        </picture>
        <!-- Header - text -->
        <section class="  text-white text-center header-text-center bottom-1/3 md:top-1/2">
            <p class="font-bold text-2xl md:text-4xl">Hey there, my name is</p>
            <h1 class=" text-7xl md:text-8x font-black italic">Brandon Bisceglia</h1>
        </section>
    </header>

    <!-- About me  -->
    <section id="aboutMe" class="section-container">
        <!-- About me - heading -->
        <h1 class="font-bold text-4xl mt-20 underline underline-offset-8 reveal">
            Who is <span class="italic">Brandon Bisceglia</span>?
        </h1>
        <!-- About me - text -->
        <p class="font-bold text-lg md:text-2xl my-5 reveal">I am recently married to my beautiful wife, where we have
            been together
            since high school. I was born and raised in Pittsburgh, Pennsylvania, which allowed me to see our city’s
            transformation firsthand. Once powered by steel to, it now becoming a tech, medical, and, most importantly,
            food hub that has done wonders. Being an avid foodie and cook, the new restaurants have allowed me to
            experience new cultures and foods that before would not have been accessible. I am also an avid learner. I
            like to experience new things and understand why they are significant culturally, historically, etc. Other
            quick hobbies are; watching and playing sports, particularly basketball. I have a passion for travel, and I
            like cars. I might be among the selected few who enjoy driving and have fun with it.
        </p>
        <p class="font-bold text-lg md:text-2xl my-5 reveal">
            Lastly, in February of 2022, I underwent an accident I never imagined, which entailed breaking my legs in a
            terrible skiing accident. Before this, I only had a minor wrist fracture and a slight tear in my meniscus
            when I was younger. This was an injury where I did a lot of soul-searching, and now I have a greater
            appreciation for what life has to offer. Through the surgeries and rehab, I learned I can achieve anything
            with perseverance and dedication.
        </p>
    </section>

    <!-- Experiences -->
    <section class="section-container mt-24">
        <h1 class="font-bold text-4xl my-5 underline underline-offset-8 reveal">Experiences</h1>
        <!-- Argo AI -->
        <div class="responsive-flex  items-center mt-10 mb-20 reveal w-full ">
            <div class=" lg:w-1/5 flex flex-row justify-evenly items-center md:flex-col">
                <!-- Job Location and Logo -->
                <div class="flex flex-col content-center">
                    <img src=" images/logos/argo_AI_logo.png" alt="Argo AI" class="w-48 mx-auto">
                    <!-- <h3 class="font-bold text-2xl my-3 text-yellowOrange">Argo AI</h3> -->
                    <p class="text-xl text-yellowOrange my-3">Pittsburgh, PA</p>
                    <p class="text-xl text-navy">
                        <time datetime=" 2020-08">August, 2020</time> to <time datetime="2022-10">October, 2022</time>
                    </p>
                </div>
            </div>
            <!-- Job text -->
            <div class="text-lg md:text-xl tracking-tight reveal lg:w-4/5">
                <p>
                    As we all know, graduating in April of 2020 was not an ideal time. The pandemic started
                    weeks earlier, and no one knew what to do or expect. Leading up to graduation and after, I applied
                    to numerous positions. Argo was never on my radar, even though I heard good things about them.
                </p>
                <br>
                <p>
                    In July of 2020, still not having any luck with the job market. Out of fate, a recruiter contacted
                    me and asked if I was interested in joining Argo and being a part of their Autonomy Operations team.
                    Without hesitation, I took the offer, and that is where my first post-graduation job started. During
                    my time at Argo, I learned much about the self-driving space, what it means to be a part of a great
                    company with great culture, and how you can contribute to the team’s goals and strive for personal
                    excellence
                    and growth.
                </p>
                <br>
                <p>
                    Starting as a Triage Analyst, I documented the good and bad of what the AV (autonomy vehicle) did.
                    With our team’s documentation, all facets of the company could understand the AV’s progress and then
                    determine the proper steps to take to improve the product. I participated in training all new team
                    members that started after me. I also got to be a part of various AV pilot programs, which required
                    a
                    deeper understanding of the autonomy stack in which the AV operates. For a short time, I was also a
                    part
                    of the Simulation Operations team, where I created, updated, and enhanced test simulations for the
                    AV
                    software in a virtual setting.
                </p>
            </div>

        </div>

        <!-- AHN -->
        <div class=" responsive-flex items-center my-20 reveal">
            <div class="lg:w-1/5 flex flex-row justify-evenly items-center md:flex-col">
                <!-- Location & Logo -->
                <div class="flex flex-col content-center">
                    <img src=" images/logos/AHN_icon.png" alt="Allegheny Health Network" class="w-72 mx-auto">
                    <!-- <h3 class="font-bold text-2xl my-3 text-yellowOrange">Allgheny Health Network</h3> -->
                    <p class="text-xl text-yellowOrange my-3">Pittsburgh, PA</p>
                    <p class="text-xl text-navy">
                        <time datetime=" 2019-05">May, 2019</time> to <time datetime="2019-08">August, 2019</time>
                    </p>
                </div>
            </div>
            <!-- Job text -->
            <div class="text-lg md:text-xl tracking-tight reveal lg:w-4/5">
                <p>
                    Being selected as the first intern at AHN’s IT Department was an honor I wasn’t expecting.
                    Throughout my internship, my direct leadership always wanted my input on how the program could
                    improve, so the next batch of interns could have a better experience. Some kinks had to be worked
                    out early on. But, I was appreciative that I was able to add input and be part of the solution to
                    help address those issues.
                </p>
                <br>
                <p>
                    I participated in the daily meetings and voiced my opinion on how we can improve our services. This
                    is where I got the courage to be more vocal and to know that what you suggest may not be the right
                    option. However, your opinion can lead to more significant discussion and be part of the solution.
                    My long-term project was to make the Epic reporting library more concise and user-friendly. I
                    primarily learned how to use SQL, Microsoft SQL Server, and Tableau during the project. With
                    Tableau, I showcased my findings to the IT department on my improvements, which was a rewarding
                    experience.
                </p>
                <br>

            </div>

        </div>

        <!-- Pitt -->
        <div class=" responsive-flex items-center my-20 reveal">
            <div class="lg:w-1/5 flex flex-row justify-evenly items-center md:flex-col">
                <!-- Location & Logo -->
                <div class="flex flex-col content-center">
                    <img src=" images/logos/Pitt.png" alt="University of Pittsburgh" class="w-40 mx-auto">
                    <!-- <h3 class="font-bold text-2xl my-3 text-yellowOrange">Allgheny Health Network</h3> -->
                    <p class="text-xl text-yellowOrange my-3">Pittsburgh, PA</p>
                    <p class="text-xl text-navy">
                        <time datetime=" 2019-05">August, 2016</time> to <time datetime="2019-08">April, 2020</time>
                    </p>
                </div>
            </div>
            <!-- Pitt text -->
            <div class="text-lg md:text-xl tracking-tight reveal lg:w-4/5">
                <p>
                    Being born and raised in Pittsburgh and having older relatives that attended the University of
                    Pittsburgh, there was no doubt about where I wanted to attend college. I remember going to Pitt
                    basketball games as a child when Pitt was still in the Big East conference and was even ranked
                    number one in the country at one point. Seeing those games and walking on the campus gave me just a
                    taste of what was to experience there, even for a child. Once I had the opportunity of being a
                    student, I was able to be a part of a diverse and rich culture of the community at Pitt. It is still
                    one of the highlights of my overall experience.
                </p>
                <br>
                <p>
                    Selecting Computer Science as my major was a natural choice. Growing up, I was the one fixing the
                    tv, DVD and VHS player, computer, etc.. if any problems arose. I felt that those problem-solving
                    skills could easily translate towards learning about more challenging and complex topics, where I
                    also got to stay in the technology field. While learning the fundamentals, I took an interest in the
                    following upper-level electives: Web Development, Data Science, Cloud Computing, Quality Assurance,
                    and Game Design. All my professors in the CS department challenged me to be a better programmer and
                    critical thinker. I am much appreciative of that.
                </p>
                <br>
                <p>
                    At the same time, I was also working on a Minor in Bosnian, Croatian, and Serbian (BCS) language,
                    yes, a very non-traditional language to learn. This is where once again, I get to mention how much I
                    enjoy learning new things while also praising Pitt for being one of the leaders in language
                    learning. My roots are primarily Croatian and Italian, then a mixed bag of everything else. However,
                    my grandparents are from Croatia and came to the US for that quintessential American dream and life.
                    Once I got to Pitt, I discovered they had BCS language and a minor for it. I knew I wanted to try my
                    hand at it. Not only was my professor extraordinary, but it also made me and my grandmother closer.
                    Getting to practice speaking with her and sharing so many family stories brought us closer together,
                    which is something I don’t take for granted.
                </p>

            </div>

        </div>
    </section>

    <!-- Skills  -->
    <section class="section-container">
        <h1 class="font-bold text-4xl my-5 underline underline-offset-8 reveal">Skills</h1>
        <!-- Button area -->
        <div class="responsive-flex md:justify-evenly my-10 reveal">

            <!-- Languages Button -->
            <div>
                <button id="languages"
                    class="rounded-full text-yellowOrange bg-navy p-3 text-xl font-bold hover:bg-yellowOrange hover:text-navy hover:shadow-2xl hover:shadow-navy duration-300">
                    Programming Languages
                </button>
            </div>
            <!-- Frameworks/Libaries Button -->
            <div>
                <button id="frame"
                    class="rounded-full text-yellowOrange bg-navy p-3 text-xl font-bold hover:bg-yellowOrange hover:text-navy hover:shadow-2xl hover:shadow-navy duration-300">
                    Frameworks / Libraries
                </button>
            </div>

        </div>
        <!-- Chart -->
        <!-- When on screens larger than mobile, charts will display -->
        <div class="mx-auto mt-20 hidden md:block reveal">
            <canvas id="chart" class="w-full md:h-[700px]"></canvas>
        </div>
        <!-- On mobile sized screens, my skills will be displayed via text -->
        <div class="md:hidden text-center mx-auto reveal">
            <ul id="skills-area" class="text-2xl list-item"></ul>
        </div>
    </section>

    <!-- Footer -->
    <footer class="mt-40 pb-20 reveal">
        <section class="max-w-7xl mx-auto md:px-10 text-center border-black border-4 border-solid px-0">
            <!-- Footer text -->
            <p class="text-center text-lg md:text-xl mt-10 px-2">
                If you have made it this far, thank you for your time in reading
                this short bio on myself. I wouldn’t call myself an underdog, but I have had to work hard for where I am
                today. To not only prove to myself but to my peers as well that I belong. Take this website, for
                example. I took the initiative to learn how to create, style, build, and host it, and I followed through
                on that. The only thing I am looking for right now is the next opportunity. I will be appreciative of
                anyone that can help with that process. Let’s connect on LinkedIn! Take a look at my featured project
                site, <a href="https://boiling-reef-77260.herokuapp.com/" target="_blank"><span
                        class="text-yellowOrange hover:text-navy duration-200">YelpCamp!</span></a> Explore my
                Github,
                and feel free to view and take a copy of my resume!
            </p>
            <div class="flex flex-row justify-evenly my-10">
                <!-- LinkedIn Icon -->
                <a href="https://www.linkedin.com/in/brandonbisceglia/" target="_blank" rel="noopener noreferrer">
                    <img src="images/logos/linkedin.svg" alt="Brandon Bisceglia's LinkedIn"
                        class="w-20 h-20 md:w-24 md:h-24 hover:scale-125 duration-200">
                </a>
                <!-- Github Icon -->
                <a href="https://github.com/BetterBrandon" target="_blank">
                    <img src="images/logos/github.svg" alt="Brandon Bisceglia's Github"
                        class="w-20 h-20 md:w-24 md:h-24 hover:scale-125 duration-200">
                </a>

                <!-- Resume Button -->
                <a href="test.txt" target="_blank">
                    <img src="images/logos/resume.svg" alt="Brandon Bisceglia's Resume"
                        class="w-20 h-20 md:w-24 md:h-24 hover:scale-125 duration-200">
                </a>

            </div>
        </section>
    </footer>

    <script type="module" src="/js/bundle.js"></script>
</body>

</html>