<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;1,900&display=swap"
        rel="stylesheet">
    <title>Brandon Bisceglia</title>
</head>

<body>
    <!-- FIXME: Add Image that I want,-->
    <header class="lg:mx-auto lg:max-w-xl">
        <img src=" images/test.jpg" alt="" class="relative ">
        <section class=" absolute top-20 right-10">
            <!-- text-2xl -->
            <p class="text-black font-bold text-2xl">Hey there, my name is</p>
            <h1 class=" text-7xl font-black italic">
                Brandon Bisceglia
            </h1>
        </section>
    </header>

    <!-- About me  -->
    <section id="aboutMe" class="section-container">
        <!-- About me - heading -->
        <h1 class="font-bold text-4xl mt-20 underline underline-offset-8 reveal">
            Who is <span class="italic">Brandon Bisceglia</span>?
        </h1>
        <!-- About me - text -->
        <p class="font-bold text-2xl my-5 reveal">I am recently married to my beautiful wife, and we have been together
            since high school. I was born and raised in Pittsburgh, Pennsylvania, which allowed me to see our city’s
            transformation firsthand. Once powered by steel to, it now becoming a tech, medical, and, most importantly,
            food hub that has done wonders. Being an avid foodie and cook, the new restaurants have allowed me to
            experience new cultures and foods that before would not have been accessible. I am also an avid learner. I
            like to experience new things and understand why they are significant culturally, historically, etc. Other
            quick hobbies are; watching and playing sports, particularly basketball. I have a passion for travel, and I
            like cars. I might be among the selected few who enjoy driving and have fun with it.
        </p>
        <p class="font-bold text-2xl my-5 reveal">
            Lastly, in February of 2022, I underwent an accident I never imagined, which entailed breaking my legs in a
            terrible skiing accident. Before this, I only had a minor wrist fracture and a slight tear in my meniscus
            when I was younger. This was an injury where I did a lot of soul-searching, and now I have a greater
            appreciation for what life has to offer. Through the surgeries and rehab, I learned I can achieve anything
            with perseverance and dedication.
        </p>
    </section>

    <!-- Experiences -->
    <section class="section-container mt-24">
        <h1 class="font-bold text-4xl my-5 underline underline-offset-8 reveal">Experiences</h1>
        <!-- Job 1 -->
        <!-- If don't like the logo in the center, can change the location of it -->
        <div class="responsive-flex  items-center mt-10 mb-20 reveal">
            <div class="w-full h-60 flex flex-row justify-evenly items-center md:flex-col">
                <!-- Job Location and Logo -->
                <div class="flex flex-col content-center">
                    <img src=" images/argo_AI_logo.png" alt="Argo AI" class="w-40 mx-auto">
                    <h3 class="font-bold text-2xl my-3 text-yellowOrange">Argo AI</h3>
                    <p class="text-lg text-navy">Pittsburgh, PA</p>
                    <p class="text-lg text-navy">
                        <time datetime=" 2020-08">August, 2020</time> to <time datetime="2022-10">October, 2022</time>
                    </p>
                </div>
            </div>

            <div class="text-xl tracking-tight reveal">
                <p>
                    As we all know, graduating in April of 2020 was not an ideal time to graduate. The pandemic started
                    weeks earlier, and no one knew what to do or expect. Leading up to graduation and after, I applied
                    to numerous positions. Argo was never on my radar, even though I heard good things about them.
                </p>
                <br>
                <p>
                    In July of 2020, still not having any luck with the job market. Out of fate, a recruiter contacted
                    me and asked if I was interested in joining Argo and being a part of their Autonomy Operations team.
                    Without hesitation, I took the offer, and that is where my first post-graduation job started. During
                    my time at Argo, I learned much about the self-driving space, what it means to be a part of a great
                    company with great culture, and how you can contribute to the team’s goals and strive for personal
                    excellence
                    and growth.
                </p>
                <br>
                <p>
                    Starting as a Triage Analyst, I documented the good and bad of what the AV (autonomy vehicle) did.
                    With our team’s documentation, all facets of the company could understand the AV’s progress and then
                    determine the proper steps to take to improve the product. I participated in training all new team
                    members that started after me. I also got to be a part of various AV pilot programs, which required
                    a
                    deeper understanding of the autonomy stack in which the AV operates. For a short time, I was also a
                    part
                    of the Simulation Operations team, where I created, updated, and enhanced test simulations for the
                    AV
                    software in a virtual setting.
                </p>
            </div>

        </div>

        <!-- Job 2 -->
        <div class=" responsive-flex items-center my-20 reveal">
            <div class="w-full h-48 flex flex-row justify-evenly items-center md:flex-col">
                <div class="flex flex-col content-center">
                    <img src=" images/AHN_icon.png" alt="Allegheny Health Network" class="w-48 mx-auto">
                    <h3 class="font-bold text-2xl my-3 text-yellowOrange">Allgheny Health Network</h3>

                    <p class="text-lg text-navy">
                        <time datetime=" 2019-05">May, 2019</time> to <time datetime="2019-08">August, 2019</time>
                    </p>
                </div>
            </div>

            <p class="text-xl ">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe beatae
                quisquam dolores numquam unde
                excepturi quasi consequuntur at similique harum consequatur eum expedita magnam iusto tempore
                assumenda reiciendis, mollitia aliquid.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste, libero. Quasi perspiciatis optio
                veniam temporibus quod quaerat itaque reiciendis corrupti perferendis, officia eaque et pariatur
                excepturi porro odio a culpa.
            </p>

        </div>
    </section>

    <!-- Skills  -->
    <section class="section-container">
        <h1 class="font-bold text-4xl my-5 underline underline-offset-8 reveal">Skills</h1>
        <!-- Creating the chart -->
        <div class="responsive-flex md:justify-evenly my-10 reveal">

            <!-- Languages Button -->
            <div>
                <button id="languages"
                    class="rounded-full text-yellowOrange bg-navy p-3 text-xl font-bold hover:bg-yellowOrange hover:text-navy hover:shadow-2xl hover:shadow-navy duration-300">
                    Programming Languages
                </button>
            </div>
            <!-- Frameworks/Libaries Button -->
            <div>
                <button id="frame"
                    class="rounded-full text-yellowOrange bg-navy p-3 text-xl font-bold hover:bg-yellowOrange hover:text-navy hover:shadow-2xl hover:shadow-navy duration-300">
                    Frameworks / Libraries
                </button>
            </div>

        </div>
        <!-- Chart -->
        <!-- style="width: 800px;" -->
        <div class="mx-auto mt-20 hidden md:block reveal">
            <canvas id="chart" class="w-full"></canvas>
        </div>
        <div class="md:hidden text-center mx-auto reveal">
            <p id="skills-area" class="text-2xl"></p>
        </div>
    </section>

    <!-- Footer -->
    <!-- 
        TODO:  
        - Add resume to resume icon
        - Have github icon go to my gitpage
    -->
    <footer class="mt-40 pb-20 reveal">
        <section class="max-w-7xl mx-auto md:px-10 text-center border-black border-4 border-solid px-0">
            <p class="text-center text-xl mt-10 px-2">Thank you taking a glance at my website. Send a connection request
                on
                LinkedIn and take a peak at my
                Github!
            </p>
            <div class="flex flex-row justify-evenly my-10">
                <!-- LinkedIn Icon -->
                <a href="https://www.linkedin.com/in/brandonbisceglia/" target="_blank" rel="noopener noreferrer">
                    <img src="images/linkedin.svg" alt="Brandon Bisceglia's LinkedIn"
                        class="w-20 h-20 md:w-24 md:h-24 hover:scale-125 duration-200">
                </a>
                <!-- Github Icon -->
                <a href="#">
                    <img src="images/github.svg" alt="Brandon Bisceglia's Github"
                        class="w-20 h-20 md:w-24 md:h-24 hover:scale-125 duration-200">
                </a>

                <!-- Resume Button -->
                <a href="test.txt" download="Brandon_Bisceglia_test">
                    <img src="images/resume.svg" alt="Brandon Bisceglia's Resume"
                        class="w-20 h-20 md:w-24 md:h-24 hover:scale-125 duration-200">
                </a>

            </div>
        </section>
    </footer>

    <script type="module" src="/js/bundle.js"></script>
</body>

</html>