<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;1,900&display=swap"
        rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <title>Brandon Bisceglia</title>
</head>

<body>
    <section class="section-container">
        <h1 class="text-7xl font-bold mt-52">Page Not Found</h1>
        <div class="mt-10">
            <a href="/">
                <button
                    class="rounded-full text-yellowOrange bg-navy p-3 text-xl font-bold hover:bg-yellowOrange hover:text-navy hover:shadow-2xl hover:shadow-navy duration-300">
                    Take me back to the homepage!
                </button>
            </a>

        </div>
    </section>

</body>

</html>